<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body style="background-color:Lavender;">
<h2 style="text-align:Center;background-color:Beige"><hr >YES Bank,Kannur Branch</hr></h2>

<p><b>Branch ID</b>:110<br><br><b>Branch Name</b>:payyanur<br><br><b>Address</b>:TC NO 3/192/4/5,Daniels Tower MG Road,Kannur Kerala<br><br><b>Contact number</b>:1234567890<br><br><b>Available Loans</b>:Home loan,education loan,vehicle loan etc.


<a href="{% url 'bank:kannur' %}"></a>

</body>


</html>