<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<body style="background-color:Lavender;">
<h2 style="text-align:Center;background-color:Beige"><hr >YES Bank ,Kollam Branches</hr></h2>

<p><b>Branch ID</b>:114<br><br><b>Branch Name</b>:Kavanad<br><br><b>Address</b>:TC NO 3/192/4/5,Daniels Tower MG Road,Kollam Kerala<br><br><b>Contact number</b>:1234567890<br><br><b>Available Loans</b>:Home loan,education loan,vehicle loan etc.


<a href="{% url 'bank:kol' %}"></a>

</body>
</html>